body,
ul,
li,
h1,
h2,
a {
    margin: 0;
    padding: 0;
    font-family: arial;
}

header {
    background-color: #f63232;
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

header h1 {
    color: #fff;
    border: 8px solid #fff;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;
}

.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner .welcome {
    background: #FEB614;
    color: #fff;
    padding: 30px;
    position: absolute;
    top: 30%;
    left: 0;
}

.banner .welcome h2 {
    font-size: 74px;
}

.banner h2 span {
    font-size: 1.3em;
}

nav {
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 104px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

nav li {
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a {
    text-decoration: none;
    color: #4B4B4B;
}

nav li a.join {
    color: #F63232;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2 {
    color: #F63232;
    font-size: 48px;
}

article p {
    line-height: 2em;
    color: #4b4b4b;
}

.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;

}

.images li {
    list-style: none;
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}

.images li img {
    max-width: 100%;
}

section.join {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;

}

.join h2 {
    font-size: 36px;
}

form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}

footer {
    background: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}

/**** Pseudo classes ****/

nav li a:hover {
    text-decoration: underline;
}

.images li:hover {
    position: relative;
    top: -4px;
    /*    transition: .4s;*/

}

form input:focus {
    border: 4px dashed #4b4b4b;
    outline: none;
}

form input:valid {
    border: 4px solid #71d300;
}

/*
nav li:first-child {
    border: 3px solid #f63232;
}
*/

/**** Pseudo elements ****/
article p::first-line {
    font-weight: 700;
    font-size: 1.2em;

}

section.join p::first-letter {
    font-size: 1.5em;
}

section.join p::selection {
    background-color: #f63232;
    color: white;
}

/*
p::after {
    content: '....';
}
*/

/*** ends of CSS ***/







/************************************************* 
***    Responsive styles CSS 
*************************************************/

@media screen and (min-width: 1441px) {
    .banner img {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .banner .welcome h2 {
        font-size: 60px;
    }

    nav li {
        font-size: 18px;
    }
}

@media screen and (max-width: 960px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 35px;
    }

    .banner .welcome h2 {
        font-size: 40px;
    }

    nav {
        top: 88px;
    }
}

@media screen and (max-width: 700px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 30px;
    }

    nav {
        top: 82px;
    }

    .banner .welcome {
        position: relative;
        text-align: center;
        padding: 10px;
        margin-top: -4px;
    }

    .banner .welcome br {
        display: none;
    }

    .banner .welcome h2 {
        font-size: 25px;
    }

    .banner .welcome h2 span {
        font-size: 1em;
    }

    .images li {
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}

@media screen and (max-width: 560px) {
    header {
        position: relative;
        padding: 10px 0;
    }

    header h1 {
        font-size: 28px;
    }

    nav {
        top: 0;
    }

    nav ul {
        text-align: left;
    }


    nav li {
        font-size: 20px;
        position: relative;
        display: block;
        width: 100%;
        margin: 12px 0;
    }

    form input {
        font-size: 18px;
    }
}



/************************************************* 
***    Ends Responsive styles CSS
*************************************************/
